.styledLinkContainer--footer-principal, .styledLinkContainer--footer-menu {
    margin: unset;
    line-height: 30px;
}

.styledLinkContent--footer-principal {
    font-size: 27px;
    line-height: 35px;
    font-family: sans-serif;
    color: black;
}

.styledLinkContent--footer-menu {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

.menuContainerNav--menu-footer {
    margin-top: 15px;
}

.styledLinkContent--footer-principal:hover, .styledLinkContent--footer-menu:hover {
    color:grey;
}